<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <meta charset="UTF-8">
        <title>Simla Calendar</title>
    </head>
    <body
    {% if success == 'true' %}
        onload="alert('Saved')"
    {% elseif success == 'false' %}
        onload="alert( {{ errors|json_encode(constant('JSON_PRETTY_PRINT')) }} )"
    {% endif %}
    >
        <div></div>
        <div>
            <a href="https://simla.com"><img src="images/simla.svg"></a>
        </div>
        <div>
            <p>Google Calendar integration</p>
        </div>
        <div>
            <hr width=35%>
        </div>
        <div>
            <p>Settings for {{ userId }}</p>
        </div>
        <form action="save" method="post">
            <div>
                <label class="label-common">Simla.com URL</label>
                <input type="text" name="simla_api_url" class="input-field" value={{ settings['simla_api_url'] }}>
            </div>
            <div>
                <label class="label-common">Simla.com API KEY</label>
                <input type="text" name="simla_api_key" class="input-field" value={{ settings['simla_api_key'] }}>
            </div>
            <div>
                <label class="label-common">Code of status</label>
                <input type="text" name="simla_order_status_code" class="input-field" value={{ settings['simla_order_status_code'] }}>
            </div>
            <div>
                <label class="label-common">Calendar ID</label>
                <input type="text" name="google_calendar_id" class="input-field" value={{ settings['google_calendar_id'] }}>
            </div>
            <div>
                <label class="label-common">Last sync</label>
                <label class="label-value">
                    {% if settings['last_sync'] %} {{ settings['last_sync'] }} {% else %} none {% endif %}
                </label>
            </div>
            <div>
                <button type="submit" class="submit-button">
                    <span class="text-on-green">Save settings</span>
                </button>
            </div>
        </form>
        <form method="get" action="logout">
            <div>
                <button type="submit" class="logout-button">
                    <span class="text-on-white">Logout</span>
                </button>
            </div>
        </form>
        <form method="get" action="disable">
            <div>
                <button type="submit" class="logout-button">
                    <span class="text-on-white">Disable</span>
                </button>
            </div>
        </form>
        <div></div>
        <div>
            <hr width=35%>
        </div>
        <div>
            <p>
                <a href="terms/terms_of_service.html" target="_blank" class="link">Terms of service</a>
            </p>
            <p>
                <a href="terms/privacy_policy.html" target="_blank" class="link">Privacy policy</a>
            </p>
        </div>
    </body>
</html>
