<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <meta charset="UTF-8">
        <title>Simla Calendar</title>
    </head>
    <body>
    {% if success == 'true' %}
        <div class="alert">
            Saved
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    {% elseif success == 'false' %}
        <div class="alert-red">
            {{ errors|join(", ") }}
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    {% endif %}
        <div></div>
        <div>
            <a href="https://simla.com"><img src="images/simla.svg"></a>
        </div>
        <div>
            <p>Google Calendar integration</p>
        </div>
        <div>
            <hr width=35%>
        </div>
        <div>
            <p id={{ userId }}>Settings for {{ email }}</p>
        </div>
        <form action="save" method="post">
            <div>
                <label class="label-common">Simla URL</label>
                <input type="text" name="simla_api_url" class="input-field" value={{ settings['simla_api_url'] }}>
            </div>
            <div>
                <label class="label-common">Simla API KEY</label>
                <input type="text" name="simla_api_key" class="input-field" value={{ settings['simla_api_key'] }}>
            </div>
            <div>
                <label class="label-common">Status code</label>
                <input type="text" name="simla_order_status_code" class="input-field" value={{ settings['simla_order_status_code'] }}>
            </div>
            <div>
                <label class="label-common">Calendar ID</label>
                <input type="text" name="google_calendar_id" class="input-field" value={{ settings['google_calendar_id'] }}>
            </div>
            <div>
                <label class="label-common">Google Meet</label>
                <label class="label-value">
                <label class="switch">
                    <input type="checkbox" name="create_meet" value="true" {% if settings['create_meet'] == 'true' %} checked {% endif %}>
                    <span class="slider round"></span>
                </label></label>
            </div>
            <div>
                <label class="label-common">Last sync</label>
                <label class="label-value">
                    {% if settings['last_sync'] %} {{ settings['last_sync'] }} {% else %} none {% endif %}
                </label>
            </div>
            <input type="hidden" name="time_zone" id="time_zone">
            <div>
                <button type="submit" class="submit-button">
                    <span class="text-on-green">Save settings</span>
                </button>
            </div>
        </form>
        <form method="get" action="logout">
            <div>
                <button type="submit" class="logout-button">
                    <span class="text-on-white">Logout</span>
                </button>
            </div>
        </form>
        <form method="get" action="delete">
            <div>
                <button type="submit" class="logout-button">
                    <span class="text-on-white">Delete</span>
                </button>
            </div>
        </form>
        <div></div>
        <div>
            <hr width=35%>
        </div>
        <div>
            <p>
                <a href="terms/terms_of_service.html" target="_blank" class="link">Terms of service</a>
            </p>
            <p>
                <a href="terms/privacy_policy.html" target="_blank" class="link">Privacy policy</a>
            </p>
        </div>
        <script type="text/javascript">
            document.getElementById('time_zone').value = Intl.DateTimeFormat().resolvedOptions().timeZone;
        </script>
    </body>
</html>
